

<div class="dashboard-container">
    <header class="dashboard-header">
      <h1>Welcome,   {{ user.email }}!</h1>

<div *ngIf="user">
  <button class="logout-button" (click)="logout()">Logout</button>

</div>
<div *ngIf="!user">
  <p>Loading user information...</p>
</div>
    </header>
  
    <main class="dashboard-content">
      <div class="widget">
        <h3>Widget 1</h3>
        <p>Some content for widget 1.</p>
      </div>
  
      <div class="widget">
        <h3>Widget 2</h3>
        <p>More content for widget 2.</p>
      </div>
  
      <div class="widget">
        <h3>Widget 3</h3>
        <p>Even more content for widget 3.</p>
      </div>
  
      </main>
  
    <footer class="dashboard-footer">
      <p>&copy; 2025  urssystems.com. All Rights Reserved

      </p>
    </footer>
  </div>