

<div class="login-container">
    <div class="login-box">
      <h2>Signup page!</h2>
      <form class="login-form" (submit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" placeholder="Your Email" name="email" [(ngModel)]="email" required />
  
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
          type="password"
          id="password"
          name="password"
          placeholder="Your Password"
          [(ngModel)]="password"
          required
        />
        </div>
        <button type="submit" class="login-button">Singup</button> 
  
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
        <p *ngIf="sucessMessage && !errorMessage" class="successAlert">{{sucessMessage}}</p>

  
      </form>
      <div class="button-group">
        <p>Already have an account?</p>
        <button class="register-button" routerLink="/login">Login</button>
      </div>
    </div>
  </div>